<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <table id="appointment">
      <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Scores</th>
        </tr>
      </thead>
      <tbody>
      <% for(m in data) { %>
          <tr>
              <td><%= data[m].date.toLocaleDateString() %></td>
              <td><%= data[m].name %></td>
              <td><%= data[m].avg %></td>
          </tr>
      <% } %>
      </tbody>
    </table>
    <div class="goto"><a href="/score">去评分</a></div>
  </body>
</html>
